.a:hover {
  color: #e9afa3;
}

.about-photo {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.add-to-cart {
  font-family: "champagne__limousines";
  font-size: 60%;
}

.add-to-cart-2 {
  font-family: "champagne__limousines";
  font-size: 70%;
}

.add-to-cart:hover {
  color: #e9afa3;
}

.babes-only {
  color: white;
  font-family: "made_canvasregular";
  font-size: 110%;
  justify-content: right;
}

.body {
  background-color: #f2eeec;
  font-family: "champagne__limousines";
  color: #293045;
  font-size: 160%;
}

/* sticky footer attributes */
.body-2 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.borders {
  position: relative;
  border-bottom: 1px solid black;
}

.borders-2 {
  position: relative;
  border-bottom: 1px solid black;
}

.borders:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 0px;
  right: 0px;
  bottom: 1px;
  border-bottom: 1px solid black;
}

.borders:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 3px;
  border-bottom: 1px solid black;
}

.card-border {
  border: #718eeb 2px solid;
}

.cart {
  color: #718eeb;
}

.cart:hover {
  color: #e9afa3;
}

.copyright {
  font-family: "champagne__limousinesbold";
  color: white;
  font-size: 50%;
}

.description {
  font-family: "champagne__limousines";
  font-size: 70%;
}

/* regular */
@font-face {
  font-family: "champagne__limousines";
  src: url("./font/champagne_limousines/Champagne\ &\ Limousines.ttf")
    format("truetype");
}

/* regular italic */
@font-face {
  font-family: "champagne__limousinesitalic";
  src: url("./font/champagne_limousines/Champagne\ &\ Limousines\ Italic.ttf")
    format("truetype");
}

/* bold */
@font-face {
  font-family: "champagne__limousinesbold";
  src: url("./font/champagne_limousines/Champagne\ &\ Limousines\ Bold.ttf")
    format("truetype");
}

/* bold italic */
@font-face {
  font-family: "champagne__limousinesBdIt";
  src: url("./font/champagne_limousines/Champagne\ &\ Limousines\ Bold\ Italic.ttf")
    format("truetype");
}

/* canvas */
@font-face {
  font-family: "made_canvasregular";
  src: url("./font/MADE\ Canvas\ Regular\ PERSONAL\ USE.otf") format("opentype");
}

.footer {
  background-color: #e9afa3;
  height: 10%;
  width: 100%;
}

.footer-links {
  color: white;
  font-family: "champagne__limousinesbold";
  font-size: 80%;
}

.footer-links:hover {
  color: #718eeb;
}

.item-name {
  font-family: "champagne__limousinesbold";
  font-size: 100%;
}

.login {
  color: #718eeb;
}

.main {
  flex: 1;
}

.price {
  font-family: "champagne__limousinesBdIt";
  font-size: 100%;
}

.subhead {
  color: #718eeb;
  font-family: "champagne__limousinesBdIt";
  font-size: 200%;
}

.subhead-2 {
  color: #e9afa3;
  font-family: "champagne__limousinesBdIt";
  font-size: 200%;
}
