body {
  background-color: #f2eeec;
  font-family: "champagne__limousines";
  color: #293045;
  font-size: 160%;
}

link:hover {
  color: #e9afa3;
}

@font-face {
  font-family: "champagne__limousines";
  src: url("./font/champagne_limousines/Champagne\ &\ Limousines.ttf")
      format("truetype"),
    url("./font/champagne_limousines/Champagne\ &\ Limousines\ Bold.ttf")
      format("truetype"),
    url("./font/champagne_limousines/Champagne\ &\ Limousines\ Bold\ Italic.ttf")
      format("truetype"),
    url("./font/champagne_limousines/Champagne\ &\ Limousines\ Italic.ttf")
      format("truetype");
}

cart {
  color: #718eeb;
}
